.columnFooter {
    float: left;
    width: 20%;
    padding: 10px;
    height: auto;
    h2{
        color: var(--black);
        font-weight: 900;
        font-size: 30px;
    }
    li{
        color:var(--gray)
    }
  }