.buttonShop{
    background-color: transparent;
    color:var(--white);
    border: solid 1px var(--white);
    // border-width: 100;
    width: 150px;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
}


